@media screen and (max-width:1024px) {

    html,
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .bg-batik.batik-position {
        height: 65px;
        top: -15px;
        left: -10px;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    #homepage #homepageVideo .col-md-6 {
        width: 100%;
        flex: 100%;
        max-width: 100%;
    }

    #lineups .main-title.col-5,
    #gallery .main-title.col-6 {
        max-width: 100%;
    }

    #lineups .bg-batik.batik-position,
    #gallery .bg-batik.batik-position {
        height: 75px !important;
        left: 30px !important;
    }

    #lineups .nav-lineups li {
        font-size: 16px;
    }

    .main-title h1 {
        text-align: center !important;
    }

    #artistDetail .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    #homepage #homepageLineUp .fullheight.x-45.item-boxgrid,
    #lineups .fullheight.x-45.item-boxgrid,
    #artistDetail .fullheight.thirdheight.item-boxgrid {
        height: 180px !important;
    }

}

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    #hamburger {
        display: inline-block;
        float: right;
    }

    #hamburger {
        display: inline-block;
        float: right;
    }

    .main-title h1 {
        font-size: 26px;
        letter-spacing: -1px;
    }

    ul,
    li,
    p {
        font-size: 12px;
    }

    .logo {
        width: 55%;
    }

    #homepageTicket .mt-md-5,
    #homepageTicket.my-md-5 {
        margin-top: 0 !important
    }

    #btn-gallery {
        font-size: 13px;
    }

    .breadcrumbs label {
        font-size: 10px;
    }

    .breadcrumbs label {
        text-align: center;
        top: 0 !important;
        bottom: 0 !important;
    }

    .icon-label-nav {
        width: 15px;
        height: 15px;
    }

    ul.nav-lineups li {
        font-size: 16px;
        padding: 0 1em;
    }

    .logo-flat-full {
        width: 150%;
        left: -20px;
    }

    .logo {
        margin: 1em 0 !important;
        width: 50%;
    }

    #img-curator {
        height: 50vh !important;
    }

    #lineups .main-title.col-5 {
        max-width: 50%;
    }


    #homepage #homepageLineUp .fullheight.x-45.item-boxgrid,
    #lineups .fullheight.x-45.item-boxgrid,
    #artistDetail .fullheight.thirdheight.item-boxgrid {
        height: 180px !important;
    }
}

@media screen and (min-width:768px) and (max-width:991px) and (orientation:portarit) {}

@media screen and (orientation:landscape) and (max-device-width: 768px) {
    .logo-flat-full {
        width: 100% !important;
        left: -20px !important;
    }

    .logo {
        margin: 1em 0 !important;
        width: 100% !important;
    }

    #lineups .main-title.col-5 {
        max-width: 50%;
    }

    #homepage #homepageLineUp .fullheight.x-45.item-boxgrid,
    #lineups .fullheight.x-45.item-boxgrid,
    #artistDetail .fullheight.thirdheight.item-boxgrid {
        height: 180px !important;
    }

    #img-curator {
        height: 50vh !important;
    }

    #text-curator {
        width: 50% !important;
    }

    #text-curator.d-sm-block {
        display: flex !important;
    }

    #title-curator.align-text-bottom {
        width: 100%;
        padding: 0 0.5em !important;
    }

    #text-curator .align-items-end {
        width: 100%;
    }

    #floatTicket .col-8 {
        max-width: 33.666667%;
    }

    .main-title h1 {
        text-align: center !important;
    }

    #about .bg-batik.batik-position {
        left: 0px !important;
    }

    #gallery .bg-batik.batik-position {
        height: 70px;
        left: 20px !important;
    }

    #lineups .bg-batik.batik-position {
        height: 75px;
        left: 25px !important;
        top: -10px;
    }

    #artistDetail .overlay-img.fullheight.specials-top,
    #artistDetail .fullheight.x-3.item-boxgrid {
        height: 65vh !important;
    }

    #artistDetail #slugger.col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .logo.logo-flat-full {
        width: 150% !important;
    }

}

@media screen and (orientation:portrait) and (max-width:768px) {

    #homepage #homepageLineUp .fullheight.x-45.item-boxgrid,
    #lineups .fullheight.x-45.item-boxgrid,
    #artistDetail .fullheight.thirdheight.item-boxgrid {
        height: 120px !important;
    }

    #artistDetail .overlay-img.fullheight.specials-top,
    #artistDetail .fullheight.x-3.item-boxgrid {
        height: 33vh !important;
    }

}

@media screen and (max-width:768px) {
    .overlay {
        -webkit-overflow-scrolling: touch;
    }

    .logo {
        margin: 1em 0;
        width: 55%;
        left: 0;
    }

    #hamburger {
        display: inline-block;
        float: right;
    }

    .breadcrumbs {
        width: 35px;
        padding: 0 0.2em;
    }

    .icon-label-nav {
        width: 20px;
        height: 20px;
    }

    p {
        font-size: 13px;
        text-align: left;
    }

    p.specials {
        text-align: center;
    }

    h1 {
        font-size: 35px;
        text-align: left;
    }

    h1.title-page {
        text-align: center !important;
    }

    ul,
    ul li {
        font-size: 13px;
        text-align: left;
    }

    .logo.logo-flat-full {
        width: 75%;
    }

    .bgimg.left {
        background-position: center;
    }

    .section#homepageVideo .bg-homepageVideo.bg-animate-homepage.active,
    .section#homepageLineUp .bg-homepageLineUp.bg-animate-homepage.active {
        background-size: cover;
    }

    .section#homepageTicket .bg-homepageTicket.bg-animate-homepage.active {
        background-size: 25% 30%;
    }

    .main-title {
        top: 0;
        margin: 1em 0;
    }

    .main-title h1 {
        font-size: 35px;
        text-align: left;
        margin-bottom: 0.5em;
    }

    .main-title h1.specials-left {
        text-align: left !important;
    }

    .main-title h1.specials-center {
        text-align: center !important;
    }

    svg {
        width: 80px;
    }

    #video {
        height: 260px !important;
        top: -40px;
    }

    #btn-gallery {
        font-size: 13px;
        letter-spacing: 1.5px;
    }

    .btn-ticket {
        margin-bottom: 0.5em;
    }

    #btn-ticket img {
        width: 100%;
    }

    i.icn-down {
        top: 18px;
    }

    .item-boxgrid .overlay.soft {
        visibility: visible;
        opacity: 1;
        height: 100%;
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
    }

    .overlay.soft h3 {
        font-size: 13px;
        letter-spacing: 1.5px;
    }

    ul.nav-lineups li {
        font-size: 18px;
    }

    .main.active>.main-inside.active>#about .card .card-body {
        font-size: 13px;
    }

    .text {
        margin: 0 1.5em;
    }

    .text ul {
        margin-bottom: 1em;
    }

    .video-js {
        margin: 2em 0;
    }

    .header.homepage {
        position: relative;
    }

    #homepageVideo .main-title {
        margin: 0;
        margin-bottom: 1em;
    }

    .section {
        height: auto !important;
        /*margin: 0 1em;*/
    }

    .main.active>.main-inside.active>#about .card .card-header {
        width: 100%;
        left: -15px;
        display: block;
    }

    .main.active>.main-inside.active>#about .card .card-header h6 {
        font-size: 13px;
        text-align: left;
        width: 90%;
    }


    .main.active>.main-inside.active>#about .card {
        top: 0;
        margin-bottom: 0;
    }

    .tagline {
        margin-top: 2.5em;
    }

    #homepageGal2018>.container {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .breadcrumbs label {
        text-align: center;
        top: 0 !important;
        bottom: 0 !important;
    }

    #headerChild .header {
        position: absolute;
        margin-bottom: 3em;
    }

    .js-cookie-consent.cookie-consent {
        width: 80%;
        bottom: calc(2vh + 5px);
        margin: 0 auto;
        padding: 0.5em;
    }

    .js-cookie-consent-agree.cookie-consent__agree {
        width: 100px;
        margin: 15px 0px;
    }

    #gallery-list {
        margin-left: 0px;
        margin-right: 0px;
    }


    #gallery-list a {
        height: auto !important;
        padding: 3px;
    }

    #artistDetail .footer {
        /*position: absolute;*/
        bottom: 0;
    }

    #homepage .bg-animate-homepage.active,
    .bg-animate-slide.active {
        position: fixed;
        background-size: cover;
        background-position: top;
    }

    .main .main-inside.active .bg-lineups.active {
        background-size: cover;
    }

    #show .item-boxgrid,
    #talks .item-boxgrid {
        height: 25vh;
    }

    .btn-img {
        left: -15px;
    }

    #notFound .img-404 {
        width: 100%;
        left: 0px;
        position: relative;
    }

    #notFound .text-404 h1 {
        font-size: 56px;
        text-align: center;
    }

    #notFound h4 {
        font-size: 15px;
    }

    .bgimg.small-padds {
        width: 85% !important;
        height: 85% !important;
        background-size: cover !important;
        /* margin: 0 auto; */
        margin-left: 15px;
        margin-right: 15px;
    }

    #homepage .bgimg.small-padds {
        width: 95% !important;
        height: 95% !important;
        margin-left: 0px;
        margin-right: 0px;
    }

    .btn-ticket-block {
        left: 0 !important;
    }

    .width-250 {
        width: 125px;
    }

    .container-specials {
        width: 100%;
    }

    #exPrev .slick-slide.slick-current {
        width: 165px !important;
    }

    .top-min-20 {
        top: -10px;
        right: 0px;
    }

    #btn-ticket-float {
        width: 100%;
        height: auto;
        display: block;
    }

    #btn-ticket-float .btn-img {
        left: 0;
    }

    #homepage .container,
    #about .container,
    #gallery .container,
    #artistDetail .container {
        padding-right: 25px !important;
        padding-left: 25px !important;

    }

    .detail-bio {
        text-align: justify;
    }

    .bold {
        font-weight: 600 !important;
    }

    .title-lineup {
        padding: 0.5em !important;
    }

    #btn-see-more {
        font-size: 13px !important;
    }

    .margin-top-30 {
        margin-top: 0em;
    }

    .margin-top-30.specials-top {
        margin-top: 6em;
    }

    .content {
        margin-top: 6em;
    }

    .mt-8 {
        margin-top: 6em;
    }

    #lineups .bg-batik.batik-position {
        height: 65px;
        left: -20px;
    }

    .bg-batik.batik-position {
        height: 70px;
        left: -10px;
    }

    #gallery .content {
        margin-top: 8em;
    }

    #img-curator {
        margin-top: 1em;
        width: 50%;
    }

    #title-curator.align-text-bottom {
        padding: 0 1.5em;
    }

    #title-curator.align-text-bottom h2 {
        font-size: 24px;
    }

    .gmaps-canvas {
        margin-bottom: 3em;
    }

    .plain {
        padding-left: 15px;
        padding-right: 15px;
    }

    .pd-15 {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 15px;
        width: 93%;
    }

    #artistDetail .date-perform ul {
        margin: 1em 0;
    }

    #artistDetail .date-perform ul li {
        padding-left: 0;
    }

    #artistDetail .overlay.soft h3 {
        font-size: 10px;
    }

    #artistDetail .bgimg.small-padds {
        width: 95% !important;
        height: 65% !important;
        margin-left: 0px;
        margin-right: 0px;
    }

    #artistDetail .btn-img {
        left: 0 !important;
        margin: 1em 0;
    }

    #img-ticket {
        margin-left: 0px;
        margin-right: 0px;
    }

    #img-ticket.fullheight.halfheight {
        height: 245px !important;
    }

    #img-ticket .btn-ticket {
        position: relative;
    }

    .cookie-consent__message {
        font-size: 12px;
    }

    #homepageTicket .text-left.text-white {
        margin: 0 5px;
    }

    #homepageGal2018 .main-title {
        margin: 1em 5px !important;
    }

    #homepageGal2018 .main-title h1 {
        font-size: 25px;
    }

    #artistDetail h2 {
        font-size: 26px;
    }

    #lineups .tagline {
        margin-top: 0.5em !important;
    }

    #schedule-wrapper::-webkit-scrollbar {
        width: 5px;
        height: 0;
    }

    ul#days-schedule {
        width: 150%;
        margin-left: 50%;
    }

    ul#schedule-container {
        display: block;
    }

    #schedule-container {
        width: 100%;
    }

    ul#schedule-container li {
        width: 100% !important;
        height: auto;
        border-bottom: 0.5px solid lightgrey;
        border-right: 0;
    }

    #schedule-wrapper {
        width: 100%;
        height: auto !important;
        overflow: hidden;

    }

    ul#schedule-container li .box-schedule {
        height: auto;
    }

    ul#schedule-container li .main-title{
        margin: 0 0 1em 0;
    }

    #exPrev {
        width: 100%;
    }

    #exPrev li.roundabout-moveable-item{
        height: 12.5em !important;
        width: 20em !important;
    }

    #schedule-container div.no-data {
        height: 100%;
    }

    #schedule .mt-8 {
        margin-top: 8em;
    }

    ul#schedule-container li .box-schedule span{
        font-size: 14px;
    }

    #lineups .content {
        height: auto;
        margin: 1em auto;
    }

    .footer p {
        padding: 1em 0 .5em 0;
    }

    #terms .content {
        margin-top: 8em;
    }

    #terms .content h1{
        font-size: 2em;
    }

    #terms .content h2{
        font-size: 1.5em;
    }

    #terms .content p {
        margin: 1em 0;
        font-size: 13px;
        line-height: 1.5;
        letter-spacing: normal;
        font-family: 'FontWot-Medium' !important;
    }

    #terms .content ol li{
        margin: 1em 0;
        font-size: 13px;
    }

    #terms .content ul li{
        font-size: 13px;
    }

    ul.footer-list li {
        width: 100%;
    }

    ul.footer-list li a {
        font-size: 12px;
        letter-spacing: 2px;
    }

    ul.footer-list li.copy{
        border-right: 0px;
        width: 100%;
        padding: 1em 0;
    }

    ul.footer-list li ul{
        width: auto;
        display: inline-block;
    }

    ul.footer-list ul li{
        width: auto;
    }

    ul.partners{
        margin-top: 2em;
        margin-bottom: 0.5em;
    }

    ul.partners li p{
        font-size: 11px;
    }

    ul.partners li:nth-child(1) {
        width: 55%;
    }

    ul.partners li:nth-child(2) {
        width: 45%;
    }

    .icon-mini {
        top: -10px;
    }

    ul.footer-list li.no-border{
        border-right: 0;
    }


}

@media screen and (max-width:480px) {
    .logo {
        margin: 1em 0;
        width: 55%;
        left: 0;
    }

    .main-title h1 {
        font-size: 26px;
        text-align: center;
    }

    .bg-batik.batik-position {
        height: 65px;
        left: -10px !important;
        top: -18px;
    }

    .text {
        margin: 0 2em;
    }

    p {
        font-size: 12px;
        text-align: left;
    }

    p.specials {
        text-align: center;
    }

    h1 {
        font-size: 32px;
        text-align: left;
    }

    ul,
    ul li {
        font-size: 12px;
        text-align: left;
    }

    #lineups .main-title.col-5 {
        max-width: 50%;
    }

    #gallery .bg-batik.batik-position,
    #lineups .bg-batik.batik-position {
        left: 5px !important;
    }

    #schedule-container div.no-data h4 {
        font-size: 18px;
    }

    #schedule-container .box-schedule p {
        font-size: 13px;
        text-align: left;
    }

    #schedule-container .box-schedule h3{
        font-size: 18px;
    }

    #exPrev li.roundabout-moveable-item {
        height: 8.5em !important;
        width: 14em !important;
    }

    #exPrev li.roundabout-moveable-item h3 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width:375px) {}

}
